# Step (n-2): Generate Feature Vector

In [1]:
%pylab inline
import pandas as pd
import contributions
import votes
import bills
import sqlCommands
from peoplefinder import PeopleFinder
from operator import attrgetter
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
from tqdm import tqdm

def subject_match(engine,A):
    query = ("SELECT type,number FROM bills WHERE category LIKE 'passage' AND (subjects LIKE '%%{" + A
                     + ",%%' OR subjects LIKE '%%,"+A+",%%' OR subjects LIKE '%%,"+A+"}%%');")
    #use query and put in DataFrame
    foo = pd.read_sql_query(query,engine)
    return foo

def get_subject_features(engine):
    query = "SELECT * FROM subs_morebills_hair"
    foo = pd.read_sql_query(query, engine)
    return foo

def clean_subject(a):
    try:
        quoteloc = a.index("'") #may get issues with multiple single quotes in one topic.
        a = a[:quoteloc]+"'"+a[quoteloc:]
    except:
        pass #no quotes found
    #need to add " if there are any spaces in the subject
    try:
        quoteloc = a.index(" ") #will go to except if there are no spaces in the subject
        a = '\"'+a+'\"'
    except:
        pass #no spaces found
    return a

Populating the interactive namespace from numpy and matplotlib

In [2]:
#set up postgresql engine
dbname = 'legislatr'
engine = sqlCommands.get_engine(dbname)
conn = psycopg2.connect("dbname='legislatr' user='lordluen' host='localhost'")
cur = conn.cursor()

In [4]:
#load in subject features
sub_feat_temp = get_subject_features(engine)
sub_feat = pd.DataFrame()
sub_feat['subjects'] = sub_feat_temp.subjects
sub_feat['q_subjects'] = subs_feat['subjects'].map( lambda x: clean_subject(x)) #subjects for querying.

In [5]:
print(sub_feat.subjects.size)
sub_feat.head(3)

406

                                       subjects
0                                  Access Board
1         Administrative Conference of the U.S.
2  Administrative law and regulatory procedures

In [8]:
#create a dataframe will bill in first column, pass or fail in second column (will need to clean), and features in reamaining columns
#first get a list of bills.
bills = pd.read_sql("SELECT * FROM bills WHERE category LIKE 'passage';",engine)
print(bills['index'].size)
bills.head(3)

1080

,index,category,chamber,congress,date,number,result,subjects,top_subject,type
0,3,passage,h,113,2013-10-05 10:57:00,3223,Passed,"{Appropriations,""Executive agency funding and ...",Government operations and politics,hr
1,4,passage,h,113,2013-12-04 17:00:00,1105,Passed,"{""Administrative law and regulatory procedures...",Finance and financial sector,hr
2,9,passage,h,113,2013-09-29 00:22:00,3210,Passed,"{Appropriations,""Armed forces and national sec...",Armed forces and national security,hr

In [15]:
#second make new dataframe with just type, number, and result.
bills_features = pd.DataFrame()
bills_features[['type','number','result']] = bills[['type','number','result']]

In [16]:
bills_features.head(3)

  type  number  result
0   hr    3223  Passed
1   hr    1105  Passed
2   hr    3210  Passed

In [33]:
#query type and number for bills that match each subject, map into df.
#loop over subjects.
for i in tqdm(range(0,sub_feat['subjects'].size)):
#get subject.
#qsub = sub_feat['q_subjects'].iloc[i] #pull out subject to search for
#currently using a postgresql query to get bill info, might be faster to search the dataframe I already have loaded.
#matches = subject_matches(engine,qsub) #get bill identifiers that have those subjects
    qsub = sub_feat['subjects'].iloc[i] #pull out subject to search for
    boolcount = bills.subjects.str.contains(qsub, na=False)
    bills_features[qsub] = boolcount.map({False:0,True:1}).astype(int) #subjects for querying.

  0%|          | 0/406 [00:00<?, ?it/s]/home/lordluen/anaconda2/envs/py3_env/lib/python3.5/site-packages/ipykernel/__main__.py:9: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
100%|██████████| 406/406 [00:00<00:00, 552.69it/s]

In [39]:
#check that it worked. It did.
print(bills_features.loc[0][bills_features.loc[0] == 1])
print(bills['subjects'].iloc[0])

Appropriations                            1
Executive agency funding and structure    1
Government operations and politics        1
Name: 0, dtype: object
{Appropriations,"Executive agency funding and structure","Government employee pay, benefits, personnel management","Government operations and politics"}

In [40]:
bills_features.head(3)

,type,number,result,Access Board,Administrative Conference of the U.S.,Administrative law and regulatory procedures,Afghanistan,Africa,Agricultural conservation and pollution,Agricultural insurance,...,Water use and supply,Watersheds,West Bank,Wetlands,Women's health,Women's rights,World health,Wyoming,Yemen,Zimbabwe
0,hr,3223,Passed,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,hr,1105,Passed,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,hr,3210,Passed,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
print(pd.unique(bills_features.result))

['Passed' 'Joint Resolution Passed' 'Resolution Agreed to' 'Failed'
 'Bill Passed' 'Motion Agreed to' 'Concurrent Resolution Agreed to'
 'Conference Report Agreed to' 'Bill Defeated' 'Resolution Rejected'
 'Concurrent Resolution Rejected' 'Joint Resolution Defeated']

In [43]:
#map possible results to 0 = Fail or 1 = Pass
result_keys = {
    'Passed':1,
    'Joint Resolution Passed':1,
    'Resolution Agreed to':1,
    'Failed':0,
    'Bill Passed':1,
    'Motion Agreed to':1,
    'Concurrent Resolution Agreed to':1,
    'Conference Report Agreed to':1,
    'Bill Defeated':0,
    'Resolution Rejected':0,
    'Concurrent Resolution Rejected':0,
    'Joint Resolution Defeated':0
}
bills_features['outcome']=bills_features.result.map(result_keys).astype(int)

In [44]:
bills_features.head(3)

,type,number,result,Access Board,Administrative Conference of the U.S.,Administrative law and regulatory procedures,Afghanistan,Africa,Agricultural conservation and pollution,Agricultural insurance,...,Watersheds,West Bank,Wetlands,Women's health,Women's rights,World health,Wyoming,Yemen,Zimbabwe,outcome
0,hr,3223,Passed,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,hr,1105,Passed,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,hr,3210,Passed,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [46]:
print(np.sum(bills_features.outcome))
print(bills_features.outcome.size)

1054
1080

It appears the category passage is biased towards passing bills......
May need to redo everything using different categories.

In [47]:
#playing with other categories ['amendment' 'recommit' 'passage-suspension' 'procedural' 'passage' 'cloture']
bills = pd.read_sql("SELECT * FROM bills WHERE category LIKE 'recommit';",engine)
print(bills['index'].size)
bills.head(3)

314

,index,category,chamber,congress,date,number,result,subjects,top_subject,type
0,55,recommit,h,113,2013-10-30 14:19:00,992,Failed,"{""Banking and financial institutions regulatio...",Finance and financial sector,hr
1,15,recommit,h,113,2013-02-06 11:52:00,444,Failed,"{""Budget deficits and national debt"",""Budget p...",Economics and public finance,hr
2,21,recommit,h,113,2013-09-19 17:59:00,3102,Failed,"{""Administrative law and regulatory procedures...",Agriculture and food,hr

In [48]:
bills = pd.read_sql("SELECT * FROM bills;",engine)
print(bills['index'].size)
bills.head(3)

5625

,index,category,chamber,congress,date,number,result,subjects,top_subject,type
0,0,amendment,h,113,2013-06-20 11:09:00,1947,Failed,"{""Administrative law and regulatory procedures...",Agriculture and food,hr
1,1,amendment,h,113,2013-11-21 11:22:00,1900,Failed,"{""Administrative law and regulatory procedures...",Energy,hr
2,2,amendment,h,113,2013-07-10 14:32:00,2609,Failed,"{""Administrative law and regulatory procedures...",Economics and public finance,hr

In [54]:
test = pd.unique(bills.number)
print(test)

[1947 1900 2609 ...,  735  764 4890]

In [58]:
#for i in range(0,test.size):
q = 'number == '+str(test[0])
foo = bills.query(q)

In [59]:
foo.head(5)

,index,category,chamber,congress,date,number,result,subjects,top_subject,type
0,0,amendment,h,113,2013-06-20 11:09:00,1947,Failed,"{""Administrative law and regulatory procedures...",Agriculture and food,hr
27,23,amendment,h,113,2013-06-20 11:18:00,1947,Failed,"{""Administrative law and regulatory procedures...",Agriculture and food,hr
56,50,amendment,h,113,2013-06-20 13:03:00,1947,Agreed to,"{""Administrative law and regulatory procedures...",Agriculture and food,hr
98,93,amendment,h,113,2013-06-20 10:50:00,1947,Failed,"{""Administrative law and regulatory procedures...",Agriculture and food,hr
102,97,amendment,h,113,2013-06-19 18:36:00,1947,Failed,"{""Administrative law and regulatory procedures...",Agriculture and food,hr

In [ ]:
#need to find amendment number and replace bill info for amendment votes with info from the amendments.